[submodule "depends/googletest"]
	path = depends/googletest
	url = git@github.com:google/googletest.git
	branch = master
[submodule "depends/clipp"]
	path = depends/clipp
	url = git@github.com:muellan/clipp.git
	branch = master
[submodule "depends/cppitertools"]
	path = depends/cppitertools
	url = git@github.com:ryanhaining/cppitertools.git
	branch = master
[submodule "depends/GSL"]
	path = depends/GSL
	url = git@github.com:microsoft/GSL.git
	branch = master
