[submodule "depends/googletest"]
	path = depends/googletest
	url = git@github.com:google/googletest.git
	branch = master
[submodule "depends/clipp"]
	path = depends/clipp
	url = git@github.com:muellan/clipp.git
	branch = master
